/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-oct-2018, 16:56:40
    Author     : Claudio
*/

@font-face{
    font-family: 'Gotham-Book';
    src: url('../font/Gotham-Book.eot');
    src:  url('../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Book.woff') format('woff'),
         url('../font/Gotham-Book.ttf') format('truetype'),
         url('../font/Gotham-Book.svg#Gotham-Book') format('svg');
}
@font-face{
    font-family: 'Gotham-Book';
    src: url('../font/Gotham-Bold.eot');
    src: url('../font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Bold.woff') format('woff'),
         url('../font/Gotham-Bold.ttf') format('truetype'),
         url('../font/Gotham-Bold.svg#Gotham-Book') format('svg');
    font-weight: bold;
}

body,a,button{
    font-family: 'Gotham-Book';
    color:#084898 !important;
    
}
p{
    font-size: 14px;
}
a{
    text-decoration: none !important;
}
a:hover{
    color:rgba(8, 72, 152,0.7) !important;
}

section,main{
    width: 1100px;
    margin: 40px auto;
    
}
/*******************************************menu*******************************************************/

.navbar-barra{
    display: none;
    height: 50px;
    border-bottom: 1px solid #b3b3ff;
    box-shadow: 1px 1px 8px rgba(0, 0, 102,.3);
    background-color: white;
}

.navbar-barra .container-fluid{
    margin-top: -10px;
}
.barra_cabecera{
    height: 50px; 
    border-bottom: 1px solid rgba(8, 72, 152,0.7);
}
.fa-bars{
    font-size:16px;
    color:#084898
}
#b_inicio{
    font-size: 12px;
    padding: 0 15px;
    background-color:transparent;
    border:0;
    cursor: pointer;
}
.b_menu{
    border: 1px solid rgba(8, 72, 152,0.7);
    border-radius: 3px;
    padding: 2px 5px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}
#logo_mini{
    display: block;
    
    margin-right: 0;
}
.b_menu:hover, #b_inicio:hover{
    color:rgba(8, 72, 152,0.7) !important;  
}
.list_button{
    float: right;
}
.list_button li{
    margin-right: 20px;
}
.menu_desplegable{
    display:none;   
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 102,.3);
    height: 100%;
    width: 170px;
}
.menu_desplegable li{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    
    
}
.menu_desplegable li:hover{
    background-color: #e6eeff !important;
}
/***********************************cabecera********************************************/
.cabecera{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.cabecera img{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
#separador{
    
    background-color:#084898;
    height: 2px;
}
.fecha{
    font-size: 0.7em;
}
.menu_noticias li{
    font-size: 0.8em;
    font-weight: bold;
}
/**********************************************noticias principales**********************************************/
.texto_noticia h2{
    font-size: 1.4em;
    font-weight: bold;
}

#noticias_principales h6, #lo_ultimo h6{
    font-size: 0.8em;
    color: rgba(8, 72, 152,0.6) !important;
}
.columnas{
    border-right: 1px solid rgba(8, 72, 152,0.3);
}
.texto_noticia p{
    margin-bottom: 0;
}
.img_peque{
    float:right;
    padding: 0 0 10px 10px;
}
.categoria{
    font-size: 1em !important;
    color: #bcd73f;
    
}
/***************************************************mas noticias************************************************************/
#mas_noticias{
    border-top: 1px solid #084898;
    border-bottom: 1px solid #084898;
    padding: 20px 0 40px 0;
}

/***************************************************Lo ultimo*******************************************************/
#lista_pestanas{
    margin-left: 15px !important;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #084898;
    text-align: right;
    margin-right: 15px;
    padding: 0;
    /*z-index: auto;*/
    overflow: visible;
}
#lista_pestanas li{
    background-color: white;
    color:#999;
    width: 200px;
    height: 34px;
    list-style-type: none;
    float: left;
    text-align: center;
    border: 1px solid rgba(8, 72, 152,0.3);
    margin-right: 5px;   
    margin-left: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: none;
    z-index: 0;
}
#lista_pestanas li input{
    border:none;
    background-color: white;
}
.fa-search{
    color: #999;
}
.active{
    color: black !important;
    border:1px solid #084898 !important;
    border-bottom: none !important;
    height: 35px !important;
}
.active i{
    color: #084898;
}
  
.cont_pestana{
    display:none;
    border:0 !important;
}



/*****************************************************pie**************************************************************/
footer{
    padding: 20px;
    border-top: 1px solid #b3b3ff;
    box-shadow: 1px 1px 10px rgba(0, 0, 102,.7);
    color:white! important;
    background-color: #084898;
}
footer a{
    color :white !important;
}
footer a:hover{
    color:#bfbfbf  !important;
}
.pie{
    height: auto;
}
.pie li{    
    list-style-type:  none;   
    font-weight: bold;
}
#logo_pie{
    margin: 0 20px;
}
.direccion, .legal{
   
    font-size: 0.8em;
}

.redes li{
    font-size: 1.5em;
    margin: 10px;
    list-style-type: none;
    background-color: #084898;
    width: 40px;
    height: 40px;
    text-align: center;
    border:2px solid white;
    border-radius: 30px;
}
.redes li:hover{
    border:2px solid #bfbfbf;
}
/**********************************************galeria********************************************************/
.album{
    border-radius: 5px;
    width: 30%;
    height: 300px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position:relative;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(223,224,232,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(223,224,232,1);
    box-shadow: 5px 5px 8px rgba(3, 23, 48,.7);
}
.info_album{
    opacity: 0.7;
    background-color: white;
    position:absolute;
    bottom:0px;
    width: 100%;
    overflow:hidden;
    height: 20%;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
}

.fecha_galeria{
    height: 30px;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    /*background-color: rgba(255,255,255,0.5);*/
    padding: 5px;
    border-radius: 5px;
    
}
.card{
    border: 0 !important;
}
.card a{
    background-color: transparent !important;
    border: 0 !important;
    box-shadow:0 0 0 0 !important;
}
.card a:checked, .card a:focus{
    box-shadow:0 0 0 0 !important;
}

/*=============================================PROMOCIONES==================================================*/
.video_promo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
        margin-bottom: 20px;
}
.video_promo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.foto_dere{
    float: right;
    padding: 10px 0 10px 10px;
}
.redes_compartir{
    text-align: right;
    width: 100%;
}
.redes_compartir li{
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    text-align: center;
    border:2px solid #084898;
    border-radius: 30px;   
}
.redes_compartir li:hover{
    border:2px solid rgba(8, 72, 152,0.7) !important;
}
.descripcion p{
   text-align: justify; 
}
.descripcion a{
	color: #bcd73f !important;
    font-weight: bold;
}
.descripcion a:hover{
	color: #084898 !important;
}



/******************************************RESPONSIVE**********************************************************************/
@media only screen and (max-width: 767px){
    section,.cabecera,#logo,.menu_desplegable,main{       
        width: 100%;
    }
    .album{
        width: 90% !important;
    }
    .menu_noticias{
        display:none;
    }
    .columnas{
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 25px;
    }
    .menu_desplegable li{
        border-bottom: 1px solid #d9d9d9;
        margin-right: 30px;
        padding:15px 0;
    }
    #b_inicio{
        display: none;
    }
    .redes{
        position: relative;
        text-align:center;
    }
    .legal{
        text-align:center;
        font-size: 0.6em;
        padding: 0; 
    }
    .legal li{
        float: left;
        padding-left:  10px;
    }
    .d_legal{
        padding: 0;
    }
}
@media only screen and (min-width: 768px){
    section,.cabecera,.menu_desplegable,main{       
        width: 100%;
    }  
    #logo{
        width:400px;
    }
}
@media only screen and (max-width: 992px){
    .not_col{
        border-top: 1px solid #d9d9d9;
        margin-top: 30px
    }
    .pie>div>div{
        padding: 0;
    }
    .direccion{
        padding-left: 20px;
    }
    .album{
        width: 45%;
    }
}
@media only screen and (min-width: 1100px){
    section,.cabecera,.menu_desplegable,main{       
        width: 1100px;
    }
    
}
