/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2018, 12:27:42
    Author     : Claudio
*/
@font-face{
    font-family: 'Gotham-Book';
    src: url('../../font/Gotham-Book.eot');
    src:  url('../../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../../font/Gotham-Book.woff') format('woff'),
         url('../../font/Gotham-Book.ttf') format('truetype'),
         url('../../font/Gotham-Book.svg#Gotham-Book') format('svg');
}
@font-face{
    font-family: 'Gotham-Book';
    src: url('../../font/Gotham-Bold.eot');
    src: url('../../font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../font/Gotham-Bold.woff') format('woff'),
         url('../../font/Gotham-Bold.ttf') format('truetype'),
         url('../../font/Gotham-Bold.svg#Gotham-Book') format('svg');
    font-weight: bold;
}

body,a,button,input,select{
    font-family: 'Gotham-Book';
    color:#084898 !important;

}
p{
    font-size: 14px;
}
a{
    text-decoration: none !important;
}
a:hover, .b_eliminar:hover{
    color:rgba(8, 72, 152,0.7) !important;
}
table{
    width: 100%;
}
/****************************login**********************************************************/
.login{
    text-align: center;
    margin-top:100px;
    border: 5px solid rgba(8, 72, 152,0.7);
    border-radius: 50px;
    padding:20px;
}
#login_admin{
    padding: 20px;
}
.input_login{
    border: 1px solid #084898;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.5) !important;
    font-size: 20px;
    
}
.b_login{
    background-image: url("../../img/icon.png");
    background-position: center;
    background-size: 80px;
    height: 80px;
    width: 80px;
    border: 2px solid #2b445e;
    border-radius: 80px;
    cursor: pointer;
}
.b_login:hover{
    border: 2px solid #b8dd65;
}
.pie_login{
    margin-top: 70px;
    text-align: center;
    
}
/****************************************principal**************************************************************/

/*barra*/

.navbar-barra{
    height: 50px;
    background-color: #084898;
    color:white;
}
.navbar-barra i{
    color:white;
    font-size: 20px;
}
.navbar-barra i:hover{
    color: #ff4d4d;
}
.tiempo{
    float: right;
}
.pagina-main{
    min-height: 100%;
}
.sidebar{
    padding: 0;
    background-color: #e6e6e6;
    position: fixed;
    top: 50px;
    left: 0;
    width: 18%;
    height: 100%;
    box-shadow: 1px 1px 8px rgba(0, 0, 102,.6);
}
.menu_admin{
    padding: 0px;
    
}
.menu_admin li{
    list-style-type: none;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 102,.3);
    cursor: pointer;
}
.menu_admin li:hover{
    color:rgba(8, 72, 152,0.7) !important;
}
.submenu li:hover{
    background-color: #cccccc;
}
.b_menu ul{
    display: none;
    
}
.submenu li{
    border: 0 !important;
    padding-left: 0;
}
.submenu li .fa{
    font-size: 22px;
}
.pie_admin{
    position: relative;
    clear: both;
    left: 18%;
    width: 82%;
    height: 30px;
    background-color: #084898;
    color: white;   
}
.contenido{
    margin-top: 50px;
    width: 82%;
    float: right;
    padding: 30px;
    background-image: url('../../img/logo_revista_trans.png');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 70%;
    min-height: 90vh;
}
.contenido h2{
    color:#b8dd65;
    font-weight: bold;
}
.contenido h5{
    font-weight: bold;
}
/***************************************************noticias************************************/

#form_home{
    padding-left: 40px;
}
.contenido select{
    margin: 20px 0;
    width: 85%;
}
.b_guardar{
    font-size: 1.2em;
    font-weight: bold;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border: 1px solid #084898;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.b_guardar:hover{
/*    border: 1px solid white;*/
    background-color: #084898;
    color: white !important;
}
#form1 select{
    width: auto;
}
.tabla_titulo{
    height: 50px;
    background-color: #b8dd65;    
    border-radius: 15px;
}
tr {
  width: 100%;
  border-radius: 10px !important;
}
.tabla_listado tr:hover {
  background-color: #b8dd65;
  border-radius: 10px;
}
.tabla_listado tr:hover td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tabla_listado tr:hover td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabla_titulo th{
    text-align:  center !important;
}
.celda_titulo{
    width: 60% !important;
}
.celda_sector{
    width: 10% !important;
}
.tabla_listado td:not(.celda_titulo){
    text-align: center !important;
    width: 5%;
}

.tabla_listado .fa{
    cursor: pointer;
    font-size: 20px;
}
.b_eliminar{
    border:0;
    background-color: transparent;
}

.img_noticia{
    border-radius: 10px;
    border: 5px solid rgba(8, 72, 152,0.7);
    padding: 5px;
}
/*.tabla_listado:hover{
    background-color: #084898;
    color:white !important;  
}
.tabla_listado:hover  a{
    color: white !important;
}*/
/************************************************Ventana modal**************************************************************/
.modal-header button, .modal-footer button, .modal-footer input{
    height: auto;
}
.modal-body input{
    height: auto;
    border: 1px solid #084898;
    border-radius: 5px;
}
